.body{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: none;
}
.catContainer{
    border: 1px solid red;
    margin: 0;
    background-color: black;
    box-sizing: border-box;
    height: 1000px;
    flex-wrap: wrap;
    display: flex;

}
.catButton {
    flex-wrap: wrap;
}

.catImage {
    width: 200px;
    height: 200px;
}

.catImageContainer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

h1{
    color: white;
}

.basketSpace {
    border: 1px solid yellow;
    width:800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.basketItems {
    border: 1px solid blue;
    width: 80px;
    height: 80px;
    margin: 0;
}

.basketImage {
    width:50px;
    height: 50px;
    margin: 0;
}
